/*--- Basic styles ---*/
html{ overflow-y: scroll !important; }

body{
  font-family: $f-main;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  padding-right: 0 !important;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  /*height: 100vh;
  display: flex;
  align-items: center;
  min-height: 800px;*/

  @media(max-width: 992px){
    height: auto;
  }
}

.thx-wrapper{
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  min-height: 800px !important;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 101010101010;
}

*{
  box-sizing: border-box;
  outline: none !important;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

.button{


  &:hover{

  }
}

.block-title {
  font-family: $f-heavy;
  font-size: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 46px;

  @media(max-width: 540px){
    font-size: 32px;
  }

  @media(max-width: 480px){
    font-size: 28px;
  }

  @media(max-width: 420px){
    font-size: 24px;
  }

  @media(max-width: 360px){
    font-size: 22px;
  }

  @media(max-width: 340px){
    font-size: 20px;
  }

  sup{
    font-size: 12px;
    top: -1.8em;

    @media(max-width: 480px){
      top: -1.2em;
    }
    @media(max-width: 340px){
      font-size: 10px;
      top: -1em;
    }
  }
}

form{
  .form-group{
    height: 46px;

    .form-control{
      width: 100%;
      height: 100%;
      border-radius: 0;
      border: none;
      box-shadow: none;
      transition: all 0.5s;

      &:focus{
        background-color: #ffffff;
      }
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.modal{
  .modal-dialog{
    margin-left: auto;
    margin-right: auto;

    .modal-content{
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: 0;

      .modal-header{
        padding: 0;
        border: none;
        position: relative;

        .close{
          opacity: 1;
          position: absolute;
          transition: all 0.5s;
          outline: none !important;

          &:hover{
            transform: rotate(90deg);
          }
        }
      }

      .modal-body{
        padding: 0;
        border: none;
      }
    }
  }
}

/*--------- ANIMATION ------------*/


.menu-slider{
  -webkit-animation: slide-menu 1s infinite ease-in-out;
  animation: slide-menu 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

.menu-slider-out{
  -webkit-animation: slide-menu-out 1s infinite ease-in-out;
  animation: slide-menu-out 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}

@keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}
