@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.ttf')  format('truetype'),
  url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Heavy';
  src: url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.ttf')  format('truetype'),
  url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf')  format('truetype'),
  url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
