/*--- IMPORT ---*/

@import "fonts";
@import "variables";
@import "basic";
@import "popup";
@import "slick";
@import "slick-teame";

/*--- pic-page ---*/

.pic-page{
  position: absolute;
  z-index: 1;
  height: auto;
}

.pic-top{
  top: 0;
  right: 0;
  width: 31%;

  @media(max-width: 992px){
    display: none;
  }
}

.pic-bottom{
  bottom: 0;
  left: 0;
  width: 25%;

  @media(max-width: 1730px){
    width: 15%;
  }

  @media(max-width:1160px){
    width: 10%;
  }

  @media(max-width: 540px){
    display: none;
  }
}


/*--- HEADER ---*/

header{
  background-color: #000;
  padding-top: 15px;

  @media(max-width: 450px){
    padding-left: 0;
    padding-right: 0;
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      width: 325px;
      height: auto;

      @media(max-width: 950px){
        width: 225px;
      }

      @media(max-width: 550px){
        width: 150px;
      }

      svg{
        width: 100%;
        height: auto;
      }
    }

    .phone-wrapper{

      .phone{
        font-size: 18px;
        color: #ffffff;
      }

      p{
        font-size: 11px;
        color: #ffffff;
      }
    }
  }
}

/*--- main ---*/

main{
  background-color: #000000;
  padding-top: 80px;
  color: #ffffff;
  padding-bottom: 20px;

  .content{
    display: flex;
    justify-content: space-between;
    position: relative;

    @media(max-width: 992px){
      padding-top: 35px;
    }

    @media(max-width: 650px){
      justify-content: space-around;
      flex-wrap: wrap;
      width: 320px;
      margin: 0 auto;
      padding-top: 0;
    }

    .men{
      width: 428px;
      position: relative;
      padding-bottom: 50px;

      @media(max-width: 992px){
        width: 320px;
      }

      @media(max-width: 650px){
        margin-bottom: 50px;
      }

      &:nth-child(3){
        @media(max-width: 650px){
          margin-bottom: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      .pic{
        position: relative;

        img{
          position: relative;
          z-index: 1;
          transition: all 0.5s ease-out;

          @media(max-width: 992px){
            width: 100%;
            height: auto;
          }
        }

        .pic-scale{
          transform: scale(1.1);
        }

        .veil{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 101%;
          transition: all 0.5s ease-out;
          z-index: 2;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
        }
      }

      .type{
        margin-top: -180px;
        margin-bottom: 10px;
        font-size: 14px;
        margin-left: 65px;
        position: relative;
        z-index: 3;

        @media(max-width: 650px){
          margin-top: -145px;
        }
      }

      .name{
        font-size: 24px;
        font-family: $f-bold;
        margin-bottom: 40px;
        margin-top: 0;
        margin-left: 65px;
        line-height: 1.5;
        position: relative;
        z-index: 3;

        @media(max-width: 992px){
          font-size: 22px;
        }
      }

      .time{
        font-size: 18px;
        opacity: 0.8;
        margin-left: 65px;
        position: relative;
        z-index: 3;
      }

      a{
        font-size: 14px;
        color: rgb(201,0,44) !important;
        padding-bottom: 5px;
        border-bottom: 0.5px solid rgba(201,0,44,0);
        transition: all 0.2s;
        position: absolute;
        bottom: 0;
        left: 65px;

        &:hover{
          border-bottom: 0.5px solid rgba(201,0,44,1);
        }
      }
    }

    .pay-wrapper{
      position: absolute;
      width: 340px;
      top: 0;
      left: 50%;
      margin-left: -170px;
      z-index: 4;

      @media(max-width: 992px){
        width: 240px;
        margin-left: -120px;
      }

      @media(max-width: 650px){
        position: relative;
        margin-left: 0;
        left: auto;
        margin-bottom: 40px;
      }

      .save{
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        font-family: $f-bold;
        margin-bottom: 5px;
        color: rgb(201,0,44);
      }

      h3{
        font-size: 48px;
        font-family: $f-bold;
        line-height: 1.2;
        text-align: center;
        margin-top: 0;
        margin-bottom: 15px;

        @media(max-width: 992px){
          font-size: 34px;
        }
      }

      h4{
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
        color: #8c9393;
        font-size: 18px;
      }

      .price-button{
        width: 270px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 992px){
          width: 100%;
        }

        .prise{
          width: 95px;

          .old-prise{
            color: #757575;
            text-decoration: line-through;
            font-size: 24px;
            margin-bottom: 0px;
            line-height: 1.2;

            @media(max-width: 992px){
              font-size: 18px;
            }
          }

          .new-price{
            font-size: 36px;
            font-family: $f-bold;
            margin-bottom: 0px;
            line-height: 1.2;

            @media(max-width: 992px){
              font-size: 28px;
            }
          }
        }

        .button{
          width: 152px;
          height: 54px;
          line-height: 54px;
          text-align: center;
          border-radius: 50px;
          background-color: #d72934;
          color: #ffffff;
          transition: all 0.5s;
          font-size: 18px;
          display: block;

          @media(max-width: 992px){
            width: 132px;
            height: 44px;
            line-height: 44px;
            font-size: 16px;
            border-radius: 40px;
          }

          &:hover{
            background-color: #9b2028;
          }
        }


      }
    }

  }
}

/*--- pre-footer ---*/

.pre-footer{
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 30px;

  .content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.8);

    @media(max-width: 480px){
      flex-wrap: wrap;
    }

    .soc{
      width: 96px;
      display: flex;
      justify-content: space-between;

      @media(max-width: 650px){
        width: 60px;
      }

      @media(max-width: 480px){
        margin-bottom: 25px;
        width: 100px;
      }
    }

    .info{
      width: 215px;

      @media(max-width: 650px){
        width: 185px;
      }

      @media(max-width: 480px){
        margin-bottom: 25px;
        width: 280px;
      }

      h3{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;

        @media(max-width: 650px){
          font-size: 20px;
        }
      }

      a{
        font-size: 18px;
        margin-bottom: 10px;
        color: rgba(255,255,255,0.7);
        display: block;

        @media(max-width: 650px){
          font-size: 16px;
        }
      }

      .smal{
        font-size: 14px;
        color: rgba(255,255,255,0.7);
        margin-top: -15px;

        @media(max-width: 650px){
          font-size: 12px;
        }
      }
    }

    .card{
      width: 178px;

      @media(max-width: 650px){
        width: 150px;
      }

      @media(max-width: 480px){
        margin-bottom: 25px;
        width: 280px;
      }

      h3{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;

        @media(max-width: 650px){
          font-size: 20px;
        }
      }

      .img-wrapper{
        display: flex;
        justify-content: space-between;

        @media(max-width: 480px){
          justify-content: flex-start;

          img{
            margin-right: 20px;
          }
        }

      }
    }
  }
}

/*--- footer ---*/

footer{
  background-color: #000000;
  padding: 21px 15px;
  text-align: center;
  color: #8E8E8E;
  font-size: 18px;

  @media(max-width: 650px){
    font-size: 16px;
  }
}

/*--- myform ---*/

.myform{
  .modal-dialog{
    width: 680px;

    @media(max-width: 992px){
      width: 480px;
    }

    @media(max-width: 520px){
      width: 380px;
    }

    @media(max-width: 420px){
      width: 100%;
    }

    .modal-content{
      background-color: #ffffff;
      padding: 80px 90px;

      @media(max-width: 992px){
        padding: 40px 45px;
      }

      @media(max-width: 520px){
        padding: 40px 22.5px ;
      }

      @media(max-width: 420px){
        padding: 40px 15px;
      }

      .modal-header{

        .close{
          position: absolute;
          width: 30px;
          height: 30px;
          top: -55px;
          right: -65px;
          opacity: 1;

          @media(max-width: 992px){
            top: -25px;
            right: -35px;
          }

          @media(max-width: 520px){
            right: -15px;
          }

          @media(max-width: 420px){
            right: 0;
          }

          &:hover{
            svg{
              g{
                g{
                  fill: #d72934;
                }
              }
            }
          }

          svg{
            width: 100%;
            height: 100%;

            g{
              g{
                transition: all 0.5s;
              }
            }
          }
        }
        h5{
          margin-bottom: 5px;
          font-size: 24px;
          margin-top: 0;
          font-family: $f-bold;

          @media(max-width: 992px){
            font-size: 20px;
          }
        }

        h4{
          font-size: 44px;
          margin-bottom: 20px;
          font-family: $f-bold;
          line-height: 1;

          @media(max-width: 992px){
            font-size: 34px;
          }

          @media(max-width: 520px){
            font-size: 28px;
          }
        }

        .steps{
          display: flex;
          align-items: center;
          margin-bottom: 45px;

          @media(max-width: 520px){
            display: none;
          }

          p{
            font-size: 18px;
            margin-right: 15px;

            @media(max-width: 992px){
              font-size: 14px;
            }

            span{
              border-bottom: 2px solid #d72934;
              padding-bottom: 10px;
            }
          }

          .gray{
            color: #cdcdcd;
          }
        }
      }

      .modal-body{
        form{
          width: 100%;

          .form-group{
            width: 100%;
            margin-bottom: 20px;
            height: 50px;

            .form-control{
              background-color: #f7f7f7;
              border: 1px solid #CECECE;
              color: black;
              font-size: 18px;
              padding-left: 30px;
            }
          }

          .button{
            width: 100%;
            height: 50px;
            border: none;
            background-color: #58a55d;
            color: #ffffff;
            font-family: $f-bold;
            font-size: 18px;
            margin-bottom: 20px;
          }

          .small{
            color: #ccc;
          }
        }
      }
    }
  }
}





