@charset "UTF-8";
/*--- IMPORT ---*/
@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url("../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.ttf") format("truetype"), url("../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirNextCyr-Heavy';
  src: url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.woff") format("woff"), url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.ttf") format("truetype"), url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf") format("truetype"), url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*--- FONTS ---*/
/*--- COLORS ---*/
/*--- Basic styles ---*/
html {
  overflow-y: scroll !important; }

body {
  font-family: "AvenirNextCyr-Regular";
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  padding-right: 0 !important; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  /*height: 100vh;
  display: flex;
  align-items: center;
  min-height: 800px;*/ }
  @media (max-width: 992px) {
    .wrapper {
      height: auto; } }

.thx-wrapper {
  height: 100vh !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  min-height: 800px !important; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 101010101010; }

* {
  box-sizing: border-box;
  outline: none !important; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    outline: none; }

.block-title {
  font-family: "AvenirNextCyr-Heavy";
  font-size: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 46px; }
  @media (max-width: 540px) {
    .block-title {
      font-size: 32px; } }
  @media (max-width: 480px) {
    .block-title {
      font-size: 28px; } }
  @media (max-width: 420px) {
    .block-title {
      font-size: 24px; } }
  @media (max-width: 360px) {
    .block-title {
      font-size: 22px; } }
  @media (max-width: 340px) {
    .block-title {
      font-size: 20px; } }
  .block-title sup {
    font-size: 12px;
    top: -1.8em; }
    @media (max-width: 480px) {
      .block-title sup {
        top: -1.2em; } }
    @media (max-width: 340px) {
      .block-title sup {
        font-size: 10px;
        top: -1em; } }

form .form-group {
  height: 46px; }
  form .form-group .form-control {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: all 0.5s; }
    form .form-group .form-control:focus {
      background-color: #ffffff; }

.modal .modal-dialog {
  margin-left: auto;
  margin-right: auto; }
  .modal .modal-dialog .modal-content {
    width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0; }
    .modal .modal-dialog .modal-content .modal-header {
      padding: 0;
      border: none;
      position: relative; }
      .modal .modal-dialog .modal-content .modal-header .close {
        opacity: 1;
        position: absolute;
        transition: all 0.5s;
        outline: none !important; }
        .modal .modal-dialog .modal-content .modal-header .close:hover {
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
    .modal .modal-dialog .modal-content .modal-body {
      padding: 0;
      border: none; }

/*--------- ANIMATION ------------*/
.menu-slider {
  -webkit-animation: slide-menu 1s infinite ease-in-out;
  animation: slide-menu 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes slide-menu {
  0% {
    right: -200px; }
  100% {
    right: 0; } }
@keyframes slide-menu {
  0% {
    right: -200px; }
  100% {
    right: 0; } }
.menu-slider-out {
  -webkit-animation: slide-menu-out 1s infinite ease-in-out;
  animation: slide-menu-out 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes slide-menu-out {
  0% {
    right: 0; }
  100% {
    right: -200px; } }
@keyframes slide-menu-out {
  0% {
    right: 0; }
  100% {
    right: -200px; } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  .slick-prev[dir="rtl"] {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    .slick-prev:before[dir="rtl"] {
      content: "→"; }

.slick-next {
  right: -25px; }
  .slick-next[dir="rtl"] {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    .slick-next:before[dir="rtl"] {
      content: "←"; }

/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*--- pic-page ---*/
.pic-page {
  position: absolute;
  z-index: 1;
  height: auto; }

.pic-top {
  top: 0;
  right: 0;
  width: 31%; }
  @media (max-width: 992px) {
    .pic-top {
      display: none; } }

.pic-bottom {
  bottom: 0;
  left: 0;
  width: 25%; }
  @media (max-width: 1730px) {
    .pic-bottom {
      width: 15%; } }
  @media (max-width: 1160px) {
    .pic-bottom {
      width: 10%; } }
  @media (max-width: 540px) {
    .pic-bottom {
      display: none; } }

/*--- HEADER ---*/
header {
  background-color: #000;
  padding-top: 15px; }
  @media (max-width: 450px) {
    header {
      padding-left: 0;
      padding-right: 0; } }
  header .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header .content .logo {
      width: 325px;
      height: auto; }
      @media (max-width: 950px) {
        header .content .logo {
          width: 225px; } }
      @media (max-width: 550px) {
        header .content .logo {
          width: 150px; } }
      header .content .logo svg {
        width: 100%;
        height: auto; }
    header .content .phone-wrapper .phone {
      font-size: 18px;
      color: #ffffff; }
    header .content .phone-wrapper p {
      font-size: 11px;
      color: #ffffff; }

/*--- main ---*/
main {
  background-color: #000000;
  padding-top: 80px;
  color: #ffffff;
  padding-bottom: 20px; }
  main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    @media (max-width: 992px) {
      main .content {
        padding-top: 35px; } }
    @media (max-width: 650px) {
      main .content {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 320px;
        margin: 0 auto;
        padding-top: 0; } }
    main .content .men {
      width: 428px;
      position: relative;
      padding-bottom: 50px; }
      @media (max-width: 992px) {
        main .content .men {
          width: 320px; } }
      @media (max-width: 650px) {
        main .content .men {
          margin-bottom: 50px; } }
      @media (max-width: 650px) {
        main .content .men:nth-child(3) {
          margin-bottom: 0 !important;
          padding-bottom: 0 !important; } }
      main .content .men .pic {
        position: relative; }
        main .content .men .pic img {
          position: relative;
          z-index: 1;
          transition: all 0.5s ease-out; }
          @media (max-width: 992px) {
            main .content .men .pic img {
              width: 100%;
              height: auto; } }
        main .content .men .pic .pic-scale {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
        main .content .men .pic .veil {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 101%;
          transition: all 0.5s ease-out;
          z-index: 2;
          /* FF3.6-15 */
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, black 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
          /* IE6-9 */ }
      main .content .men .type {
        margin-top: -180px;
        margin-bottom: 10px;
        font-size: 14px;
        margin-left: 65px;
        position: relative;
        z-index: 3; }
        @media (max-width: 650px) {
          main .content .men .type {
            margin-top: -145px; } }
      main .content .men .name {
        font-size: 24px;
        font-family: "AvenirNextCyr-Bold";
        margin-bottom: 40px;
        margin-top: 0;
        margin-left: 65px;
        line-height: 1.5;
        position: relative;
        z-index: 3; }
        @media (max-width: 992px) {
          main .content .men .name {
            font-size: 22px; } }
      main .content .men .time {
        font-size: 18px;
        opacity: 0.8;
        margin-left: 65px;
        position: relative;
        z-index: 3; }
      main .content .men a {
        font-size: 14px;
        color: #c9002c !important;
        padding-bottom: 5px;
        border-bottom: 0.5px solid rgba(201, 0, 44, 0);
        transition: all 0.2s;
        position: absolute;
        bottom: 0;
        left: 65px; }
        main .content .men a:hover {
          border-bottom: 0.5px solid #c9002c; }
    main .content .pay-wrapper {
      position: absolute;
      width: 340px;
      top: 0;
      left: 50%;
      margin-left: -170px;
      z-index: 4; }
      @media (max-width: 992px) {
        main .content .pay-wrapper {
          width: 240px;
          margin-left: -120px; } }
      @media (max-width: 650px) {
        main .content .pay-wrapper {
          position: relative;
          margin-left: 0;
          left: auto;
          margin-bottom: 40px; } }
      main .content .pay-wrapper .save {
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        font-family: "AvenirNextCyr-Bold";
        margin-bottom: 5px;
        color: #c9002c; }
      main .content .pay-wrapper h3 {
        font-size: 48px;
        font-family: "AvenirNextCyr-Bold";
        line-height: 1.2;
        text-align: center;
        margin-top: 0;
        margin-bottom: 15px; }
        @media (max-width: 992px) {
          main .content .pay-wrapper h3 {
            font-size: 34px; } }
      main .content .pay-wrapper h4 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
        color: #8c9393;
        font-size: 18px; }
      main .content .pay-wrapper .price-button {
        width: 270px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 992px) {
          main .content .pay-wrapper .price-button {
            width: 100%; } }
        main .content .pay-wrapper .price-button .prise {
          width: 95px; }
          main .content .pay-wrapper .price-button .prise .old-prise {
            color: #757575;
            text-decoration: line-through;
            font-size: 24px;
            margin-bottom: 0px;
            line-height: 1.2; }
            @media (max-width: 992px) {
              main .content .pay-wrapper .price-button .prise .old-prise {
                font-size: 18px; } }
          main .content .pay-wrapper .price-button .prise .new-price {
            font-size: 36px;
            font-family: "AvenirNextCyr-Bold";
            margin-bottom: 0px;
            line-height: 1.2; }
            @media (max-width: 992px) {
              main .content .pay-wrapper .price-button .prise .new-price {
                font-size: 28px; } }
        main .content .pay-wrapper .price-button .button {
          width: 152px;
          height: 54px;
          line-height: 54px;
          text-align: center;
          border-radius: 50px;
          background-color: #d72934;
          color: #ffffff;
          transition: all 0.5s;
          font-size: 18px;
          display: block; }
          @media (max-width: 992px) {
            main .content .pay-wrapper .price-button .button {
              width: 132px;
              height: 44px;
              line-height: 44px;
              font-size: 16px;
              border-radius: 40px; } }
          main .content .pay-wrapper .price-button .button:hover {
            background-color: #9b2028; }

/*--- pre-footer ---*/
.pre-footer {
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 30px; }
  .pre-footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8); }
    @media (max-width: 480px) {
      .pre-footer .content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .pre-footer .content .soc {
      width: 96px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media (max-width: 650px) {
        .pre-footer .content .soc {
          width: 60px; } }
      @media (max-width: 480px) {
        .pre-footer .content .soc {
          margin-bottom: 25px;
          width: 100px; } }
    .pre-footer .content .info {
      width: 215px; }
      @media (max-width: 650px) {
        .pre-footer .content .info {
          width: 185px; } }
      @media (max-width: 480px) {
        .pre-footer .content .info {
          margin-bottom: 25px;
          width: 280px; } }
      .pre-footer .content .info h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500; }
        @media (max-width: 650px) {
          .pre-footer .content .info h3 {
            font-size: 20px; } }
      .pre-footer .content .info a {
        font-size: 18px;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.7);
        display: block; }
        @media (max-width: 650px) {
          .pre-footer .content .info a {
            font-size: 16px; } }
      .pre-footer .content .info .smal {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
        margin-top: -15px; }
        @media (max-width: 650px) {
          .pre-footer .content .info .smal {
            font-size: 12px; } }
    .pre-footer .content .card {
      width: 178px; }
      @media (max-width: 650px) {
        .pre-footer .content .card {
          width: 150px; } }
      @media (max-width: 480px) {
        .pre-footer .content .card {
          margin-bottom: 25px;
          width: 280px; } }
      .pre-footer .content .card h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500; }
        @media (max-width: 650px) {
          .pre-footer .content .card h3 {
            font-size: 20px; } }
      .pre-footer .content .card .img-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        @media (max-width: 480px) {
          .pre-footer .content .card .img-wrapper {
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start; }
            .pre-footer .content .card .img-wrapper img {
              margin-right: 20px; } }

/*--- footer ---*/
footer {
  background-color: #000000;
  padding: 21px 15px;
  text-align: center;
  color: #8E8E8E;
  font-size: 18px; }
  @media (max-width: 650px) {
    footer {
      font-size: 16px; } }

/*--- myform ---*/
.myform .modal-dialog {
  width: 680px; }
  @media (max-width: 992px) {
    .myform .modal-dialog {
      width: 480px; } }
  @media (max-width: 520px) {
    .myform .modal-dialog {
      width: 380px; } }
  @media (max-width: 420px) {
    .myform .modal-dialog {
      width: 100%; } }
  .myform .modal-dialog .modal-content {
    background-color: #ffffff;
    padding: 80px 90px; }
    @media (max-width: 992px) {
      .myform .modal-dialog .modal-content {
        padding: 40px 45px; } }
    @media (max-width: 520px) {
      .myform .modal-dialog .modal-content {
        padding: 40px 22.5px; } }
    @media (max-width: 420px) {
      .myform .modal-dialog .modal-content {
        padding: 40px 15px; } }
    .myform .modal-dialog .modal-content .modal-header .close {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -55px;
      right: -65px;
      opacity: 1; }
      @media (max-width: 992px) {
        .myform .modal-dialog .modal-content .modal-header .close {
          top: -25px;
          right: -35px; } }
      @media (max-width: 520px) {
        .myform .modal-dialog .modal-content .modal-header .close {
          right: -15px; } }
      @media (max-width: 420px) {
        .myform .modal-dialog .modal-content .modal-header .close {
          right: 0; } }
      .myform .modal-dialog .modal-content .modal-header .close:hover svg g g {
        fill: #d72934; }
      .myform .modal-dialog .modal-content .modal-header .close svg {
        width: 100%;
        height: 100%; }
        .myform .modal-dialog .modal-content .modal-header .close svg g g {
          transition: all 0.5s; }
    .myform .modal-dialog .modal-content .modal-header h5 {
      margin-bottom: 5px;
      font-size: 24px;
      margin-top: 0;
      font-family: "AvenirNextCyr-Bold"; }
      @media (max-width: 992px) {
        .myform .modal-dialog .modal-content .modal-header h5 {
          font-size: 20px; } }
    .myform .modal-dialog .modal-content .modal-header h4 {
      font-size: 44px;
      margin-bottom: 20px;
      font-family: "AvenirNextCyr-Bold";
      line-height: 1; }
      @media (max-width: 992px) {
        .myform .modal-dialog .modal-content .modal-header h4 {
          font-size: 34px; } }
      @media (max-width: 520px) {
        .myform .modal-dialog .modal-content .modal-header h4 {
          font-size: 28px; } }
    .myform .modal-dialog .modal-content .modal-header .steps {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 45px; }
      @media (max-width: 520px) {
        .myform .modal-dialog .modal-content .modal-header .steps {
          display: none; } }
      .myform .modal-dialog .modal-content .modal-header .steps p {
        font-size: 18px;
        margin-right: 15px; }
        @media (max-width: 992px) {
          .myform .modal-dialog .modal-content .modal-header .steps p {
            font-size: 14px; } }
        .myform .modal-dialog .modal-content .modal-header .steps p span {
          border-bottom: 2px solid #d72934;
          padding-bottom: 10px; }
      .myform .modal-dialog .modal-content .modal-header .steps .gray {
        color: #cdcdcd; }
    .myform .modal-dialog .modal-content .modal-body form {
      width: 100%; }
      .myform .modal-dialog .modal-content .modal-body form .form-group {
        width: 100%;
        margin-bottom: 20px;
        height: 50px; }
        .myform .modal-dialog .modal-content .modal-body form .form-group .form-control {
          background-color: #f7f7f7;
          border: 1px solid #CECECE;
          color: black;
          font-size: 18px;
          padding-left: 30px; }
      .myform .modal-dialog .modal-content .modal-body form .button {
        width: 100%;
        height: 50px;
        border: none;
        background-color: #58a55d;
        color: #ffffff;
        font-family: "AvenirNextCyr-Bold";
        font-size: 18px;
        margin-bottom: 20px; }
      .myform .modal-dialog .modal-content .modal-body form .small {
        color: #ccc; }

/*# sourceMappingURL=style.css.map */